html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 5%;
}

#draw-canvas {
    background-color: #000000;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#color-picker {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    width: 20%;
}

.color-box {
    margin: 1;
    aspect-ratio: 1 / 1;
}

.color-box:hover {
    transform: scale(1.2);
    transform-origin: center;
    z-index: 1;
  }