html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 5%;
}

#host-game {
    background-color: #ff8000;
}

#join-game {
    background-color: #0099ff;
}

#room-code-screen {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#room-code-input {
    height: 2em;
    text-align: center;
    font-family: "Arial Rounded MT Bold";
    font-size: xx-large;
}

#room-connect-button {
    background-color: #0099ff;
}

.button {
    border-radius: 30px;
    border-width: 0;
    font-family: "Arial Rounded MT Bold";
    font-size: x-large;
    color: #ffffff; 
    min-height: 10%;
    width: 25%;
    min-width: 200px;
}

.button:hover {
    transform: scale(1.2);
    transform-origin: center;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#word {
    font-family: "Arial Rounded MT Bold";
    font-size: xx-large;
    color: #000000;
    margin: auto;
}


#waiting-screen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#waiting-message {
    font-family: "Arial Rounded MT Bold";
    font-size: xx-large;
    color: #000000;
}

#no-room-screen {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: "Arial Rounded MT Bold";
    font-size: xx-large;
    background-color: #f98a8a;
    gap: 2em;
}

#pin-container {
    display: flex;
    margin-top: 20%;
    gap: 1em;
}

#pin-message {
    font-family: "Arial Rounded MT Bold";
    font-size: xx-large;
    color: #000000;
}

#pin {
    font-family: "Arial Rounded MT Bold";
    font-size: xx-large;
    color: #000000;
}

#invite-link {
    display: flex;
    background-color: #0099ff;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin: 1em;
}

#copy-link-message {
    font-family: "Arial Rounded MT Bold";
    color: #000000;
    visibility: hidden;
}

#timer {
    display: flex;
    font-family: "Arial Rounded MT Bold";
    font-size: large;
    align-items: center;
    color: #ffffff;
    position: absolute;
    right: 3%;
    gap: 3%;
    padding: 0.5em;
    background-color: #000000;
    border-radius: 1000px;
}

#next-round-timer-text {
    display: none;
    white-space: nowrap;
}

#outer-game-container {
    display: none;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
    gap: 5%;
    height: 100%;
}

#inner-game-container {
    display: grid;
    place-items: center;
    grid-template-columns: 70% 30%;
    grid-template-rows: 80% 20%;
    height: 80%;
    width: 80%;
    padding-top: 2%;
    padding-bottom: 2%;
    box-sizing: border-box;
    background-color: #faf4d6;
    border-radius: 20px;
}

#draw-canvas-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#draw-canvas {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#draw-message {
    visibility: hidden;
    position: absolute;
    font-family: "Arial Rounded MT Bold";
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
}

#color-picker {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 1fr;
    width: 50%;
}

#guess-log-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-right: 10%;
}

#guess-log {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}

#guess-message {
    visibility: hidden;
    position: absolute;
    font-family: "Arial Rounded MT Bold";
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#guess-log::-webkit-scrollbar {
    display: none;
}

#guess-input-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-right: 10%;
}

#guess-input {
    font-family: "Arial Rounded MT Bold";
    width: 100%;
    font-size: large;
}

#disconnect-popup {
    display: none;
    flex-direction: column;
    text-align: center;
    font-family: "Arial Rounded MT Bold";
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    height: 20%;
    gap: 15%;
}

#game-over-popup {
    display: none;
    text-align: center;
    font-family: "Arial Rounded MT Bold";
    font-size: xx-large;
    height: 40%;
}

#rematch-dialogue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 100%;
    width: 100%;
}

#rematch-loading {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 100%;
    width: 100%;
}

#rematch {
    background-color: #ff8000;
    height: 2em;
}

.menu {
    background-color: #0099ff;
    height: 2em;
}

.loading-icon {
    width: 50px;
    height: 50px;
    background: conic-gradient(
      #ffffff 0deg 180deg,
      transparent 180deg 360deg
    );
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.color-box {
    margin: 1;
    aspect-ratio: 1 / 1;
}

.color-box:hover {
    transform: scale(1.2);
    transform-origin: center;
    z-index: 1;
}

@keyframes guess-animation {
    from {
        transform: scale(1.3);
        transform-origin: bottom right;
    }
    to {
        transform: scale(1);
    }
}

.guess {
    display: flex;
    align-items: center;
    gap: 5px;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    border-bottom-left-radius: 1000px;
    padding: 10px;
    font-family: "Arial Rounded MT Bold";
    text-align: right;
    margin-left: auto;
    animation: guess-animation 0.2s ease-out;
}

.incorrect-guess {
    background-color: #f98a8a;
}

.correct-guess {
    background-color: #99ff99;
}

@keyframes popup-animation {
    from {
        transform-origin: center;
        transform: translate(-50%, -50%) scale(0);
    }
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

.popup {
    position: fixed;
    background-color: #f98a8a;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    width: 40%;
    animation: popup-animation 0.2s ease-out forwards;
    z-index: 999;
}

svg {
    height: 1.5em;
}