html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 5%;
}

#title-container {
    display: grid;
    grid-template-columns: repeat(35, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 80%;
    margin-bottom: 10%;
}

@media screen and (orientation: landscape) {
    #title-container {
        width: 80%;
    }

    .drawing {
        display: grid;
        position: absolute;
        z-index: -1;
    }

    #tree-drawing {
        top: 45%;
        left: 5%;
        transform: rotate(-35deg);
    }

    #apple-drawing {
        top: 45%;
        left: 70%;
        transform: rotate(15deg);
    }

    #fish-drawing {
        top: 50%;
        left: 20%;
        transform: rotate(-20deg);
    }

    #pencil-drawing {
        top: 4%;
        left: 92%;
        transform: rotate(-40deg);
    }

    #earth-drawing {
        top: 65%;
        left: 80%;
        transform: rotate(-20deg);
    }

    #lightning-drawing {
        top: 4%;
        left: 0%;
        transform: rotate(30deg);
    }

    #fire-drawing {
        top: 70%;
        left: 10%;
        transform: rotate(5deg);
    }
}

@media screen and (orientation: portrait) {
    #title-container {
        width: 90%;
    }

    .drawing {
        display: none;
    }
}


@media screen and (orientation: landscape) {
    .text {
        font-size: 2vw;
    }
}

@media screen and (orientation: portrait) {
    .text {
        font-size: 4vw;
    }
}

#host-game {
    background-color: #ff8000;
}

#join-game {
    background-color: #0099ff;
}

#room-code-screen {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#room-code-input {
    height: 2em;
    text-align: center;
    font-family: "Arial Rounded MT Bold";
}

#room-connect-button {
    background-color: #0099ff;
}

@media screen and (orientation: landscape) {
    .button {
        border-radius: 30px;
        border-width: 0;
        font-family: "Arial Rounded MT Bold";
        font-size: 2vw;
        color: #ffffff;
    }

    .menu-button {
        min-height: 10%;
        width: 25%;
        min-width: 200px;
    }

    .popup-button {
        min-height: 20%;
        width: 50%;
        min-width: 200px;
    }
}

@media screen and (orientation: portrait) {
    .button {
        border-radius: 30px;
        border-width: 0;
        font-family: "Arial Rounded MT Bold";
        font-size: 4vw;
        color: #ffffff;
    }

    .menu-button {
        min-height: 10%;
        width: 60%;
        min-width: 200px;
    }

    .menu-button {
        min-height: 10%;
        width: 60%;
        min-width: 200px;
    }
}

@media (hover: hover) {
    .button:hover {
        transform: scale(1.2);
        transform-origin: center;
    }
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
}

#word {
    font-family: "Arial Rounded MT Bold";
    font-size: 4vh;
    color: #000000;
    margin: auto;
}

#waiting-screen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#waiting-message {
    font-family: "Arial Rounded MT Bold";
    color: #000000;
}

#no-room-screen {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: "Arial Rounded MT Bold";
    background-color: #f98a8a;
    gap: 2em;
}

#pin-container {
    display: flex;
    margin-top: 20%;
    gap: 1em;
}

#pin-message {
    font-family: "Arial Rounded MT Bold";
    color: #000000;
}

#pin {
    font-family: "Arial Rounded MT Bold";
    color: #000000;
}

#invite-link {
    display: flex;
    background-color: #0099ff;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin: 1em;
}

#copy-link-message {
    font-family: "Arial Rounded MT Bold";
    color: #000000;
    visibility: hidden;
}

#timer {
    display: flex;
    font-family: "Arial Rounded MT Bold";
    align-items: center;
    color: #ffffff;
    position: absolute;
    right: 3%;
    gap: 3%;
    padding: 0.5em;
    background-color: #000000;
    border-radius: 1000px;
}
@media screen and (orientation: landscape) {
    #timer {
        font-size: large;
    }
}
@media screen and (orientation: portrait) {
    #timer {
        font-size: x-large;
    }
}

#next-round-timer-text {
    display: none;
    white-space: nowrap;
}

#outer-game-container {
    display: none;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

@media screen and (orientation: landscape) {
    #inner-game-container {
        display: grid;
        place-items: center;
        grid-template-columns: 63% 33%;
        height: 100%;
        width: 80%;
        gap: 4%;
        padding-bottom: 6vh;
    }
}

@media screen and (orientation: portrait) {
    #inner-game-container {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 68% 28%;
        height: 100%;
        width: 80%;
        gap: 4%;
        padding-bottom: 3em;
    }
}

#draw-container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    box-sizing: border-box;
    background-color: #faf4d6;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.draw-container-two-rows {
    grid-template-rows: 80% 20%;
}

#guess-container {
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    background-color: #faf4d6;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
}
@media screen and (orientation: landscape) {
    #guess-container {
        grid-template-rows: 80% 20%;
    }
}
@media screen and (orientation: portrait) {
    #guess-container {
        grid-template-rows: 2fr 1fr;
    }
}

#draw-canvas-wrapper {
    display: flex;
    width: 95%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#draw-canvas {
    display: grid;
    touch-action: none;
    column-gap: 2%;
    row-gap: 2%;
}

#draw-pixel {
    width: 100%;
    height: 100%;
}

@media (hover: hover) {
    .draw-pixel:hover {
        transform: scale(1.2);
        transform-origin: center;
    }
}

#draw-message {
    visibility: hidden;
    position: absolute;
    font-family: "Arial Rounded MT Bold";
    font-size: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

#color-picker-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#color-picker {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 1fr;
    width: 100%;
}

#guess-log-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-right: 10%;
}

#guess-log {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
    overflow-y: clip;
}

/* Need to set fixed height for overflow */
@media screen and (orientation: landscape) {
    #guess-log {
        height: 57vh;
    }
}
@media screen and (orientation: portrait) {
    #guess-log {
        height: 16vh;
    }
}

#guess-message {
    visibility: hidden;
    position: absolute;
    font-family: "Arial Rounded MT Bold";
    font-size: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#guess-input-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-right: 10%;
}

@media screen and (orientation: landscape) {
    #guess-input {
        font-family: "Arial Rounded MT Bold";
        width: 100%;
        font-size: large;
        border-radius: 10px;
        border-color: #000000;
        height: 2em
    }
}

@media screen and (orientation: portrait) {
    #guess-input {
        font-family: "Arial Rounded MT Bold";
        width: 100%;
        font-size: xx-large;
        border-radius: 20px;
        height: 50%;
        border-color: #000000;
    }
}

#disconnect-popup {
    display: none;
    flex-direction: column;
    text-align: center;
    font-family: "Arial Rounded MT Bold";
    justify-content: center;
    align-items: center;
    height: 40%;
    gap: 15%;
}

#game-over-popup {
    display: none;
    text-align: center;
    font-family: "Arial Rounded MT Bold";
    height: 40%;
}

#rematch-dialogue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 100%;
    width: 100%;
}

#rematch-loading {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 100%;
    width: 100%;
}

#rematch {
    background-color: #ff8000;
}

.menu {
    background-color: #0099ff;
}

.loading-icon {
    width: 50px;
    height: 50px;
    background: conic-gradient(
      #ffffff 0deg 180deg,
      transparent 180deg 360deg
    );
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.color-box {
    margin: 1;
    aspect-ratio: 1 / 1;
}

.color-box:hover {
    transform: scale(1.2);
    transform-origin: center;
    z-index: 1;
}

@keyframes guess-animation {
    from {
        transform: scale(1.3);
        transform-origin: bottom right;
    }
    to {
        transform: scale(1);
    }
}

.guess {
    display: flex;
    align-items: center;
    gap: 5px;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    border-bottom-left-radius: 1000px;
    padding: 10px;
    font-family: "Arial Rounded MT Bold";
    text-align: right;
    margin-left: auto;
    animation: guess-animation 0.2s ease-out;
}
@media screen and (orientation: landscape) {
    .guess {
        font-size: large;
    }
}
@media screen and (orientation: portrait) {
    .guess {
        font-size: xx-large;
    }
}

.incorrect-guess {
    background-color: #f98a8a;
}

.correct-guess {
    background-color: #99ff99;
}

@keyframes popup-animation {
    from {
        transform-origin: center;
        transform: translate(-50%, -50%) scale(0);
    }
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

.popup {
    position: fixed;
    background-color: #f98a8a;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    animation: popup-animation 0.2s ease-out forwards;
    z-index: 999;
}
@media screen and (orientation: landscape) {
    .popup {
        width: 40%;
    }
}
@media screen and (orientation: portrait) {
    .popup {
        width: 75%;
    }
}